/*  your css code here. If applicable */
.star {
  position: relative;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  transform: rotate(30deg);
  margin: 50px auto;
}

.star::before {
  content: "";
  position: absolute;
  top: -75px;
  left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  transform: rotate(60deg);
}

.star::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid yellow;
  transform: rotate(60deg);
}
